<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>

    <!-- Botón de volver con flecha hacia atrás -->
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recuperar Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

    <!-- Imagen decorativa de recuperación de contraseña -->
    <div class="image-container">
      <ion-img src="assets/imgs/Recuperar.png" alt="Recuperar"></ion-img>
    </div>

  <!-- Formulario de recuperación de contraseña -->
  <form [formGroup]="recuperarForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input formControlName="username" type="text"></ion-input>
    </ion-item>

    <!-- Mensajes de error -->
    <ion-note *ngIf="recuperarForm.get('username')?.hasError('required')" color="danger">
      El nombre de usuario es obligatorio.
    </ion-note>

    <!-- Botón para enviar el formulario -->
    <button mat-raised-button color="primary" class="recuperar" type="submit" [disabled]="!recuperarForm.valid">
    Recuperar
    </button>
  </form>

<!-- Mostrar la contraseña recuperada en un mensaje atractivo -->
<ion-card *ngIf="recoveredPassword" class="password-card">
  <ion-card-header>
    <ion-card-title>Contraseña recuperada</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-text color="primary" class="recovered-password-text">{{ recoveredPassword }}</ion-text>
    
    <ion-button expand="block" fill="solid" color="tertiary" (click)="copyToClipboard()">
      <ion-icon slot="start" name="copy-outline"></ion-icon>
      Copiar contraseña
    </ion-button>
  </ion-card-content>
</ion-card>
</ion-content>


