/* Ajustes en el contenedor del formulario */
.login-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-top: 20%; /* Espacio superior para el formulario */
  width: 90%; /* Ajuste del ancho del formulario */
  max-width: 400px; /* Tamaño máximo del formulario */
  margin-left: auto; /* Centramos el formulario horizontalmente */
  margin-right: auto; /* Centramos el formulario horizontalmente */
}

/* Estilo para los campos de entrada */
ion-input {
  margin-bottom: 16px; /* Espacio inferior entre campos */
  --padding-start: 10px; /* Espaciado interno */
  --padding-end: 10px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
}

/* Estilo para el botón de ingresar */
ion-button.login {
  --background: #4caf50; /* Color verde */
  --color: white; /* Texto en blanco */
  --border-radius: 8px; /* Bordes redondeados */
  --padding: 12px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de la fuente */
  margin-top: 10px; /* Espacio superior */
}

/* Estilo para el botón de restablecer contraseña */
ion-button.recuperar {
  --background: transparent; /* Fondo transparente */
  --color: #007bff; /* Color azul para el texto */
  font-size: 14px; /* Tamaño de la fuente */
  text-decoration: underline; /* Subrayado */
  margin-top: 10px; /* Espacio superior */
}

/* Estilo para el asterisco de obligatorio */
.required {
  color: #e53935; /* Color rojo */
}

/* Estilos para mensajes de validación */
.validation-messages {
  color: #d32f2f; /* Color de mensaje de error */
  font-size: 12px; /* Tamaño de la fuente */
  margin-top: 5px; /* Espacio superior */
}



/* Estilos para el enlace subrayado */
.link-item {
    --background: transparent; /* Sin fondo para el ítem */
  }
  
  .link-text {
    color: #007bff; /* Color del texto del enlace */
    text-decoration: underline; /* Subrayado del texto */
    font-weight: bold; /* Negrita opcional para el texto */
    cursor: pointer; /* Cursor de mano para el enlace */
  }
  

  .image-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente la imagen */
    margin-top: 10%; /* Empuja la imagen hacia la parte inferior */
  }
  
  ion-img {
    width: 80%; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados para la imagen */
  }
