<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
    
    <ion-item>
      <ion-label position="floating">Usuario<span class="required">*</span></ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>
    <div *ngIf="loginForm.get('username')?.touched" class="validation-messages">
      <div *ngIf="loginForm.get('username')?.hasError('required')">
        El usuario es obligatorio.
      </div>
    </div>

    <ion-item>
      <ion-label position="floating">Contraseña<span class="required">*</span></ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="loginForm.get('password')?.touched" class="validation-messages">
      <ul *ngIf="loginForm.get('password')?.hasError('required')">
        <li>La contraseña es obligatoria.</li>
      </ul>
      <ul *ngIf="loginForm.get('password')?.hasError('passwordStrength')">
        <li>Debe contener al menos 4 números.</li>
        <li>Debe contener al menos 3 letras.</li>
        <li>Debe contener al menos 1 mayúscula.</li>
      </ul>
    </div>



  <!-- Contenedor para los botones debajo -->
  <div class="button-container">
     <!-- Botón de Ingresar -->
     <ion-button class="login" expand="full" type="submit" [disabled]="!loginForm.valid" [routerLink]="['/inicio']">
  Ingresar
     </ion-button>
    <!-- Botones con routerLink para navegación interna -->
    <ion-button class="recuperar" expand="full" (click)="resetPassword()" [routerLink]="['/recuperar']">
      Restablecer Contraseña
    </ion-button>
  </div>
