<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="registrarForm" (ngSubmit)="registrarUsuario()" class="register-form">

    <!-- Campo de Usuario -->
    <ion-item>
      <ion-label position="floating">Usuario<span class="required">*</span></ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>

    <!-- Campo de Correo Electrónico -->
    <ion-item>
      <ion-label position="floating">Correo Electrónico<span class="required">*</span></ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <!-- Campo de Contraseña -->
    <ion-item>
      <ion-label position="floating">Contraseña<span class="required">*</span></ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <!-- Campo de Confirmar Contraseña -->
    <ion-item>
      <ion-label position="floating">Confirmar Contraseña<span class="required">*</span></ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!registrarForm.valid">
      Registrar
    </ion-button>

  </form>

  <!-- Imagen decorativa -->
  <div class="image-container">
    <ion-img src="assets/imgs/Registrar.png" alt="Registro"></ion-img>
  </div>

</ion-content>


