.personas-container {
    text-align: center;
    margin: 20px 0;
}

.contador-personas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.numero-personas {
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;
}

ion-button {
    --border-radius: 8px;  /* Bordes redondeados */
    --padding-start: 8px;  /* Reduce el padding para hacerlo más cuadrado */
    --padding-end: 8px;
    --min-width: 40px;     /* Ancho mínimo */
    --min-height: 40px;    /* Alto mínimo */
}

ion-button.vaciar-pedido {
    --background: #4caf50;   /* Verde claro */
    --color: white;          /* Texto en blanco */
    --border-radius: 8px;    /* Bordes redondeados */
}

.home-button {
    --background: transparent; /* Sin fondo */
    --border: none; /* Sin borde */
    --color: var(--ion-text-color); /* Color del texto según el tema */
    --padding: 0; /* Sin padding */
    --border-radius: 0; /* Sin bordes redondeados */
    --box-shadow: none; /* Sin sombra */
    text-align: left; /* Alinear texto a la izquierda */
}

.welcome-label {
    font-size: 16px;
    font-weight: bold;
    margin-left: 16px;
    color: #000;
}

.user-icon {
    width: 20px; /* Tamaño del icono */
    height: 30px; /* Tamaño del icono */
    margin-right: 8px; /* Espacio entre el icono y el texto */
}

.sidenav-container {
    height: 100%;
  }
  
  .mat-sidenav {
    width: 250px;
  }
  
  .mat-sidenav-content {
    padding: 20px;
  }
  
  .welcome-label {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-left: 10px;
  }
  
  .user-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  ion-content {
    .producto-card {
      margin: 15px 0;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
  
    .botones-acciones {
      display: flex;
      justify-content: flex-end;
      gap: 10px; /* Espacio entre los botones */
    }
  
    ion-button {
      --border-radius: 12px;
    }
  
    ion-card-title {
      font-size: 18px;
      font-weight: bold;
    }
  
    ion-card-content {
      font-size: 14px;
      color: #666;
    }
  
    ion-button.listar-button {
      margin-bottom: 20px;
    }
  }
  