<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Imagen centrada con animación -->
  <div class="image-container">
    <img #animatedImage class="animated-image" src="assets/imgs/logo.png" alt="Your Image" />
  </div>

  <!-- Contenedor para los botones debajo de la imagen -->
  <div class="button-container">
    <ion-button expand="block" color="primary">Continuar como invitado</ion-button>
    <ion-button expand="block" color="secondary">Iniciar Sesión</ion-button>
    <!-- Texto subrayado debajo de los botones -->
    <div class="register-link">
      <a href="/registro" class="register-text">Registrar</a>
    </div>
  </div>

</ion-content>
