<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
    <button mat-raised-button color="primary" class="staff-button" [routerLink]="['/credencial-admin']">
      Staff
    </button> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MesaShare</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Imagen centrada con animación -->
  <div class="image-container">
    <img #animatedImage class="animated-image" src="assets/imgs/logo.png" alt="LogoMesaShare" />
  </div>

  <!-- Mensaje formal -->
  <div class="formal-message">
    Simplifica la gestión de tus gastos con <strong>MesaShare</strong>
  </div>

  <!-- Contenedor para los botones debajo de la imagen -->
  <div class="button-container">
    <!-- Botones con routerLink para navegación interna -->
    <ion-button expand="block" color="secondary" [routerLink]="['/login']">Iniciar Sesión</ion-button>

    <!-- Texto subrayado con routerLink -->
    <div class="register-link">
      <a [routerLink]="['/registrar']" class="register-text">Registrar</a>
    </div>
  </div>

</ion-content>
