.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -200px; /* Ajusta este valor para subir más o menos la imagen */
}

.animated-image {
  width: 150px;
  height: auto;
  opacity: 0; /* Inicialmente oculta la imagen */
}


.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: -50px; /* Ajusta este valor para mover los botones hacia arriba */
}

ion-button {
  width: 70%; /* Ajusta el tamaño del botón */
  margin-top: 10px; /* Espaciado entre los botones */
}


.register-link {
  margin-top: 20px; /* Espacio entre los botones y el texto */
}

.register-text {
  color: var(--ion-color-primary); /* Color del texto, usa la variable de color de Ionic o el color que prefieras */
  text-decoration: underline; /* Subraya el texto */
  font-weight: bold; /* Opcional: hace el texto más prominente */
  font-size: 16px; /* Tamaño del texto, ajusta según prefieras */
}
