<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MesaShare</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Menú lateral --> 
<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-content">
    <div class="image-container">
      <ion-img class="app" src="assets/imgs/App.png" alt="Menu Image"></ion-img>
    </div>
    <ion-list>
      <!-- Mostrar mesa seleccionada -->
      <ion-item>
        <ion-label>
          <ion-icon name="restaurant-outline"></ion-icon>
          Mesa: 1
        </ion-label>
      </ion-item>

      <!-- Opción de navegación a Home -->
      <ion-item>
        <ion-button expand="full" routerLink="/mi-perfil" class="Miperfil">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          Mi Perfil
        </ion-button>
      </ion-item>

      <!-- Opción de QR Mesero -->
      <ion-item>
        <ion-button expand="full" [routerLink]="['/credencial-admin']" class="QrMesero">
          <ion-icon name="qr-code-outline" slot="start"></ion-icon>
          QR Mesero
        </ion-button>
      </ion-item>
    </ion-list>

    <!-- Opción Valoración -->
   <ion-item class="rating-button">
     <ion-button expand="full" routerLink="/valoracion" class="rating">
       <ion-icon name="star-outline" slot="start"></ion-icon>
       Valorar
     </ion-button>
   </ion-item>

    <!-- Botón de Logout -->
    <div class="logout-container">
      <ion-button expand="full" color="danger" (click)="logout()" class="Salir">
        <ion-icon name="power-outline" slot="start"></ion-icon>
        Cerrar sesión
      </ion-button>
    </div>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true" id="main-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dividir cuenta</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="welcome-container">
    <ion-img src="assets/imgs/User.png" alt="Usuario"></ion-img>
    <div class="welcome-text">
      <ion-label>Bienvenido, {{ username }}</ion-label>
    </div>
  </div>

  <div class="personas-container ion-padding">
    <ion-label>Número de personas</ion-label>
    <div class="contador-personas">
      <ion-button fill="clear" (click)="disminuirPersonas()">-</ion-button>
      <div class="numero-personas">{{ numPersonas }}</div>
      <ion-button fill="clear" (click)="aumentarPersonas()">+</ion-button>
    </div>
  </div>

  
  <ion-list>
    <ion-item *ngFor="let persona of personas">
      <ion-button expand="block" (click)="seleccionarPersona(persona)" [color]="personaSeleccionada === persona ? 'primary' : 'light'">
        {{ persona }}
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="menuItems.length > 0">
    <ion-card>
      <ion-card-header>
        Menú
      </ion-card-header>
      <ion-card-content>
        <ion-item *ngFor="let item of menuItems">
          <ion-label>{{ item.nombre }} - ${{ item.precio }}</ion-label>
          <ion-button (click)="seleccionarItem(item)" [disabled]="!personaSeleccionada">Seleccionar</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-list>
    <ion-card *ngFor="let persona of personas">
      <ion-card-header>
        Pedido de {{ persona }}
      </ion-card-header>
      <ion-card-content>
        <ion-item *ngFor="let pedido of pedidos[persona]">
          <ion-label>{{ pedido.nombre }} - ${{ pedido.precio }}</ion-label>
        </ion-item>
        <div class="button-container">
          <!-- Botón de Vaciar Pedido con ícono de papelera -->
          <ion-button class="boton-vaciar-pedido" (click)="vaciarPedido(persona)">
            <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
          </ion-button>
        
          <!-- Botón de Pagar con ícono de cash -->
          <ion-button color="success" class="boton-pagar" (click)="pagarPorPersona(persona)">
            <ion-icon name="cash-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
        
        <ion-label class="total">Total: ${{ calcularTotal(pedidos[persona]) }}</ion-label>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- Total a Pagar -->
  <ion-card>
    <ion-card-content>
      <ion-label>Total a Pagar: ${{ calcularTotalGlobal() }}</ion-label>
    </ion-card-content>
  </ion-card>

  <div class="button-container">
    <ion-button (click)="generarBoletaPDF()" expand="full">
      <ion-icon name="document-outline" slot="start"></ion-icon>
      Generar Boleta PDF
    </ion-button>
    <ion-button expand="full" color="danger" (click)="realizarPago()" [disabled]="!todoAsignado()">Pagar Total</ion-button>
  </div>
</ion-content>
